<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Welcome to my portfolio! My name is Johnny and I'm a passionate developer with a strong focus on web development, software engineering, and creative technology solutions.
          My work spans from designing user-friendly interfaces to building robust back-end systems and interactive 3D experiences.</p>
      </div>
      <div class="col-lg-4">
        <p>Take a look at some of the exciting projects I’ve worked on, from e-commerce platforms to simulation software.
          I’m constantly learning and pushing boundaries to stay ahead in this fast-paced industry </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/Jsharsh33v" class="btn btn-lg btn-outline">
          <i class="fab fa-github"></i> View My GitHub
        </a>
      </div>    
    </div>
  </div>
</section>
